@{
}

<h2>Add New TEST Users</h2>
<div>
    <form method="post" action="/Account/CreateUsers">
        <button type="submit" name="action" value="CreateNeoUser">Create Neo</button>
        <button type="submit" name="action" value="CreateAdminUser">Create Admin</button>
        <button type="submit" name="action" value="CreateCommonUser">Create Common User</button>
    </form>
</div>