@using System.Security.Claims

@{
    var user = Context.User;
    var isNeo = user.Identity.IsAuthenticated && user.IsInRole("Neo");
}

<div class="text-center">
    <h1 class="display-4">{@ViewBag.Role} Portal</h1>
    @if (isNeo)
    {
        <p>lord @ViewBag.Username, your system awaits your command...</p>
    }
    else
    {
        <p>Welcome @ViewBag.Username</p>
    }
</div>

@if (isNeo)
{
    <div class="d-flex">
        <div class="card" style="width: 45rem;">
            <div class="card-body">

                <section id="seed-user-section">
                    <h2 class="text-dark">Seed New User</h2>

                    <form id="seed-user-form" method="post" asp-action="SeedNewUser" asp-controller="Admin">
                        <div class="form-group text-dark" style="background-color: #f2f2f2; padding: 10px;">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="Email" class="form-control" required />
                        </div>

                        <div class="form-group text-dark" style="background-color: #ffffff; padding: 10px;">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" required />
                        </div>

                        <div class="form-group text-dark" style="background-color: #f2f2f2; padding: 10px;">
                            <label for="retypePassword">Retype Password</label>
                            <input type="password" id="retypePassword" name="RetypePassword" class="form-control" required />
                        </div>

                        <div class="form-group text-dark" style="background-color: #ffffff; padding: 10px;">
                            <label>Role</label>

                            <div style="display: flex; align-items: center;">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="Neo" value="Neo">
                                    <label class="form-check-label" for="Neo">
                                        Neo
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="Admin" value="Admin">
                                    <label class="form-check-label" for="Admin">
                                        Admin
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="CommonUser" value="CommonUser" required>
                                    <label class="form-check-label" for="CommonUser">
                                        Common User
                                    </label>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center;">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="SecurityChief" value="SecurityChief">
                                    <label class="form-check-label" for="SecurityChief">
                                        Security Chief
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="SecurityManager" value="SecurityManager">
                                    <label class="form-check-label" for="SecurityManager">
                                        Security Manager
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="SecuritySupervisor" value="SecuritySupervisor">
                                    <label class="form-check-label" for="SecuritySupervisor">
                                        Security Supervisor
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="SecurityOfficer" value="SecurityOfficer" required>
                                    <label class="form-check-label" for="SecurityOfficer">
                                        Security Officer
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center" style="padding: 10px">
                            <button type="submit" class="btn btn-primary"
                                    onclick="return confirm('Are you sure you want to create this user, @ViewBag.Username?');">
                                Seed User
                            </button>
                        </div>
                        @if (TempData["GeneratedUsername"] != null)
                        {
                            <div class="text-center text-dark">
                                Generated Username: @TempData["GeneratedUsername"]
                            </div>
                        }
                    </form>
                </section>
            </div>
        </div>
    </div>
}
