@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Admin Portal</h1>
    <p>Stats Stats Stats. This will be the home page for admins, showing brief stats of the db health</p>
</div>