@using System.Security.Claims

@{
    var user = Context.User;
    var isNeo = user.Identity.IsAuthenticated && user.IsInRole("Neo");
}

<div class="text-center">
    <h1 class="display-4">Admin Portal</h1>
    <p>Stats Stats Stats. This will be the home page for admins, showing brief stats of the db health</p>
</div>

@if (isNeo)
{
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">

                <section id="seed-user-section">
                    <h2>Seed New User</h2>

                    <form id="seed-user-form" method="post" asp-action="SeedNewUser" asp-controller="Admin">
                        <div class="form-group" style="background-color: #f2f2f2; padding: 10px;">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="Email" class="form-control" required />
                        </div>

                        <div class="form-group" style="background-color: #ffffff; padding: 10px;">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" required />
                        </div>

                        <div class="form-group" style="background-color: #f2f2f2; padding: 10px;">
                            <label>Role</label>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="CommonUser" value="CommonUser" required>
                                    <label class="form-check-label" for="CommonUser">
                                        CommonUser
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="Admin" value="Admin">
                                    <label class="form-check-label" for="Admin">
                                        Admin
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Role" id="Neo" value="Neo">
                                    <label class="form-check-label" for="Neo">
                                        Neo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="padding: 10px">
                            <button type="submit" class="btn btn-primary">Seed User</button>
                        </div>

                        @if (TempData["GeneratedUsername"] != null)
                        {
                            <div class="text-center">
                                Generated Username: @TempData["GeneratedUsername"]
                            </div>
                        }

                    </form>
                </section>
            </div>
        </div>
    </div>
}
