@using NeoNovaAPIAdmin.Helpers
@using System.Collections.Generic
@inject JwtExtractorHelper JwtExtractor
@using NeoNovaAPIAdmin.Models
@using System.Text;
@{

    List<AllUser> neoUsers = new List<AllUser>();
    List<AllUser> adminUsers = new List<AllUser>();
    List<AllUser> commonUsers = new List<AllUser>();

    foreach (var user in Model)
    {
        if (user.Roles.Contains("Neo"))
        {
            neoUsers.Add(user);
        }
        else if (user.Roles.Contains("Admin"))
        {
            adminUsers.Add(user);
        }
        else
        {
            commonUsers.Add(user);
        }
    }
}

<div class="text-center">
    <h1 class="display-4">List of All Users</h1>
    <p>Admin view of all registered users.</p>
</div>

<div class="container">
    @UserTable("Neo Users", neoUsers)
    @UserTable("Admin Users", adminUsers)
    @UserTable("Common Users", commonUsers)
</div>

@functions {
    private string UserTable(string title, List<AllUser> users)
    {
        var sb = new StringBuilder();
        sb.Append($"<h2>{title} (Total: {users.Count})</h2>");
        sb.Append("<table class='table'>");
        sb.Append("<thead><tr><th>ID</th><th>Username</th><th>Email</th><th>Roles</th></tr></thead>");
        sb.Append("<tbody>");

        foreach (var user in users)
        {
            sb.Append($"<tr><td>{user.Id}</td><td>{user.UserName}</td><td>{user.Email}</td><td>{string.Join(", ", user.Roles)}</td></tr>");
        }

        sb.Append("</tbody></table>");
        return sb.ToString();
    }
}
