@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var isLoginPage = currentController == "Account" && currentAction == "LoginPage";
    var isAccountPage = currentController == "Account" && currentAction == "AccountPage";
}

@if (ViewBag.IsUserAuthenticated != null && (bool)ViewBag.IsUserAuthenticated)
{
    if (!isAccountPage)
    {
        <a class="btn btn-link" asp-controller="Account" asp-action="AccountPage">@ViewBag.UserNameOrEmail</a>
    }

    if (isAccountPage)
    {
        <a class="btn btn-link" asp-controller="Account" asp-action="Logout">Logout</a>
    }
}
else if (!isLoginPage)
{
    <a class="btn btn-link" asp-controller="Account" asp-action="LoginPage">Login</a>
}
