@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var isLoginPage = currentController == "Account" && currentAction == "LoginPage";
    var isAccountPage = currentController == "Account" && currentAction == "AccountPage";
}

@if (ViewBag.IsUserAuthenticated != null && (bool)ViewBag.IsUserAuthenticated)
{
    <div class="login-partial-container">
        @if (!isAccountPage)
        {
            <div class="account-button-wrapper">
                <a class="btn btn-link account-button" asp-controller="Account" asp-action="AccountPage">
                    <i class="fas fa-user"></i><span class="username-space">@ViewBag.UserNameOrEmail</span>
                </a>
            </div>
        }

        @if (isAccountPage)
        {
            <div class="logout-button-wrapper">
                <a class="btn btn-link logout-button" asp-controller="Account" asp-action="Logout">
                    <span class="username-space">Logout</span><i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        }
    </div>
}

else if (!isLoginPage)
{
    <a class="btn btn-link" asp-controller="Account" asp-action="LoginPage">Login</a>
}
